page-side-menu {
    
.userImg{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: 2px solid #fff;
    margin-top: 50px;
    
}
// .toolbar-background {
//   background-color:#9e0100;
// }
.sliderIcon{
  color: #fff;
}
.sliderLbl{
    margin-left: 10px;
    text-align: left;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
   // text-transform: capitalize
}

.button-clear-ios{
    border-bottom: 1px solid #4f4f4f;
}
    

}

.content-ios hr {
    height: 1px;
    background-color: #4f4f4f;
    margin: 0px;
}
.toolbar-title{
    color: #fff
}
.bar-button-default-md{
    color: #fff
}
.bar-button-default-ios{
    color: #fff
}
